@import url(//netdna.bootstrapcdn.com/font-awesome/3.2.1/css/font-awesome.css);

fieldset, label {
    margin: 0;
    padding: 0;
}

body {
    margin: 20px;
}

h1 {
    font-size: 1.5em;
    margin: 10px;
}

/****** Style Star Rating Widget *****/

.rating, .rating2 {
    border: none;
    margin-right:20px;
    display:inline-block;
}


    .rating > input, .rating2 > input {
        display: none;
    }

    .rating > label:before, .rating2 > label:before {
        margin: 5px;
        font-size: 2.0em;
        font-family: FontAwesome;
        display: inline-block;
        content: "\f005";
    }

    .rating > .half:before, .rating2 > .half:before {
        content: "\f089";
        position: absolute;
    }

    .rating > label, .rating2 > label {
        color: #ddd;
        float: right;
    }

    /***** CSS Magic to Highlight Stars on Hover *****/

    .rating > input:checked ~ label, /* show gold star when clicked */
    .rating:not(:checked) > label:hover, /* hover current star */
    .rating:not(:checked) > label:hover ~ label {
        color: #655063;
    }
        /* hover previous stars in list */

        .rating > input:checked + label:hover, /* hover current star when changing rating */
        .rating > input:checked ~ label:hover,
        .rating > label:hover ~ input:checked ~ label, /* lighten current selection */
        .rating > input:checked ~ label:hover ~ label {
            color: #655063;
        }

    .rating2 > input:checked ~ label, /* show gold star when clicked */
    .rating2:not(:checked) > label:hover, /* hover current star */
    .rating2:not(:checked) > label:hover ~ label {
        color: #655063;
    }
            /* hover previous stars in list */

        .rating2 > input:checked + label:hover, /* hover current star when changing rating */
        .rating2 > input:checked ~ label:hover,
        .rating2 > label:hover ~ input:checked ~ label, /* lighten current selection */
        .rating2 > input:checked ~ label:hover ~ label {
            color: #655063;
        }
