<?xml version="1.0" encoding="UTF-8"?>
<configuration>
  <system.web>
    <compilation debug="true" targetFramework="4.0" />
  </system.web>
    <system.webServer>
        <handlers>
            <remove name="PHP_via_FastCGI" />
            <remove name="PHP53_via_FastCGI" />
        </handlers>
      <rewrite>
        <rules>
          <rule name="Rewrite to index.php">
            <match url="index.php|robots.txt|images|test.php" />
            <action type="None" />
          </rule>
          <rule name="Rewrite CI Index">
            <match url=".*" />
            <conditions>
              <add input="{REQUEST_FILENAME}" pattern="css|js|jpg|jpeg|png|gif|ico|htm|html|woff|woff2|ttf|eot" negate="true" />
            </conditions>
            <action type="Rewrite" url="index.php/{R:0}" />
          </rule>
        </rules>
      </rewrite>
    </system.webServer>
</configuration>