<?xml version="1.0" encoding="UTF-8"?>
<configuration>
  <system.web>
    <compilation debug="true" targetFramework="4.0" />
  </system.web>
    <system.webServer>
        <handlers>
            <remove name="PHP_via_FastCGI" />
            <remove name="PHP53_via_FastCGI" />
        </handlers>
      <rewrite>
        <rules>
          <rule name="Imported Rule 1" stopProcessing="true">
            <match url=".*" ignoreCase="false" />
            <conditions>
              <add input="{REQUEST_FILENAME}" matchType="IsFile" ignoreCase="false" negate="true" />
              <add input="{REQUEST_FILENAME}" matchType="IsDirectory" ignoreCase="false" negate="true" />
            </conditions>
            <action type="Rewrite" url="index.php?/{R:0}" appendQueryString="false" />
          </rule>
        </rules>
      </rewrite>
    </system.webServer>
</configuration>